<style>
  :host {
    font-family: 'Rancho', cursive;    
    font-size: 4vh;
    color: #c5c5c5;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
     

  h1 {
   font-size: 8vh;
   color: #A32CC4;
  
  }

  h2 {
   font-size: 5vh;
   color: #A32CC4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: 'Rancho', cursive; 
  }

  .content {
    background-image: url(https://wallpapercave.com/wp/wp3082255.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .all{
    background-color:rgba(0,0,0,0.8);
    display: flex;
    margin: 0px auto 30px;
    padding: 0 16px;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
  }
  .welcome {
    padding: 2vh 8vh;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    font-size: 5vh;
    width: auto;
    position: relative;
    display: block;
  }
  .welcome span {
    font-size: 6vh;
    color: #A32CC4;
  }

  form {
    margin: 0 auto;
  }
  .d-md-flex {
    display: flex!important;
  }
  form .form-control {
    margin-right: 2vw;
    font-family: 'Rancho', cursive;
    font-size: 4vh;
    /* width: 40%; */
  }
  .btn-warning {
    color: #fff;
    background-color: #A32CC4;
    border-color: #A32CC4;
    padding: 3vh 3vh;
    font-family: 'Rancho', cursive;    
    font-size: 4vh;
  }
  .footer{
  background-color: rgba(0,0,0,0.9);
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer p{
  color: #A32CC4;
  font-style: italic;
  font-size: 3vh;
}
.footer span {
  color: #A32CC4;
  font-style: italic;
  font-size: 4vh;
 
}
.footer i {
  font-size: 3vh;
  color: #c5c5c5;
  padding: 2vw 2vw;
  }

</style>


<div class="content" role="main">

    <div class="all">
      <img width="300" src="https://raw.githubusercontent.com/CarolineNyamburaW/Git-Scope/master/src/assets/images/logo.png" style="margin-top: 2vh;" class="d-flex justify-content-center">
      <!-- Welcome-->
      <div class="welcome">
        
        <span class="d-flex justify-content-center"> Welcome to {{ title }} ! </span>
        <p style="font-size: 4vh; color: #fff;"> Now an easy way to find fellow developers and their Git Repositories in one easy search.</p>
      </div>
      <div class="container text-center">
      </div>
 
      <div class="container text-center">
        <h2 style="margin-top: 5vh;">Search GitHub Name Here</h2>

      <form action="" class="form d-flex justify-content-center" style="margin-bottom: 10vh;">
        <div class="form-group d-md-flex">

          <input type="name" class="form-control" name="name" placeholder="Git Hub User Name"  style="padding: 2vh 10vh; " ngModel>

          <div class="">
            <button type="submit" class="btn btn-warning" name="submit">
              <i class="fa fa-search" id="submit"></i>
            </button>
           </div>
          </div>
      
      </form>
      </div>
      

      <app-gitprofile></app-gitprofile>

      </div>

    <!-- Footer -->
     <div class="footer">
      <p><span>────For more enquiries find us on</span></p>
      <div>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-youtube"></i>
              <i class="fa fa-slack"></i>
              <i class="fa fa-github"></i>
              <i class="fa fa-whatsapp"></i>
      </div>
      <p>© Copyright 2021 </p>
   </div>




</div>



<router-outlet></router-outlet>