<style>
  :host {
    font-family: 'Rancho', cursive;    
    font-size: 4vh;
    color: #c5c5c5;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .content {
    background-image: url(https://wallpapercave.com/wp/wp3082255.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>


<div class="content" role="main">

    <!-- Navbar -->
    <div class="navbar" >
      <img width="70" src="../assets/images/logo.png">
      <h1>Git Scope</h1>
  
    </div>

</div>






<router-outlet></router-outlet>