<style>
  :host {
    font-family: 'Rancho', cursive;    
    font-size: 4vh;
    color: #c5c5c5;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .content {
    background-image: url(https://wallpapercave.com/wp/wp3082255.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar {
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #000;
    color: white;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar img {
    margin: 0 16px;
  }
</style>


<div class="content" role="main">

    <!-- Navbar -->
    <div class="navbar" >
      <img width="140" src="../assets/images/logo.png">
      <!-- <h1>Git Scope</h1> -->
  
    </div>



</div>






<router-outlet></router-outlet>