<div class="profile">
  <div class="container">
    <div class="row">
      <h2 class="d-flex justify-content-center"> My Git Repositories </h2>
      <div class="col-md-2">
        <img width="150" src="../assets/images/profile.png" style="margin-top: 2vh;">
        <p style="font-size: 4vh; color: #fff;">CarolineNyamburaW</p>
      </div>

      <div class="col-md-5">
        <div class="prof-details">
          <p>QUOTE_EXTEND</p>
          <p>An application where users can create quotes and have those quotes voted on whether they are terrible or are inspirational. They also get to view trending quotes of the day.</p>
          <a href="https://dazzling-lichterman-8957b4.netlify.app/">https://dazzling-lichterman-8957b4.netlify.app/</a>   
        </div>
    </div>

