<style>

h2 {
   font-size: 5vh;
   color: #A32CC4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: 'Rancho', cursive; 
  }
  
   .prof-details {
    border-radius: 2vh;
    border: 1px solid #eee;
    padding: 2vh 8vh;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    margin-top: 5vh;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    font-size: 5vh;
    border: 2px solid #fff;
    width: auto;
    position: relative;
    display: block;
  }
  .prof-details span {
    font-size: 6vh;
    color: #A32CC4;
  }
  .prof-details p{
  color: #fff;
  font-size: 3vh;
 }
 .prof-details a{
  color: rgb(176, 176, 241);
  font-style: italic;
  font-size: 3vh;
 }
</style>


<div class="profile">
  <div class="container">
    <div class="row">
      <h2 class="d-flex justify-content-center"> My Git Repositories </h2>
      <div class="col-md-2">
        <img width="150" src="../assets/images/profile.png" style="margin-top: 2vh;">
        <p style="font-size: 4vh; color: #fff;">CarolineNyamburaW</p>
      </div>

      <div class="col-md-5">
        <div class="prof-details">
          <p>QUOTE_EXTEND</p>
          <p>An application where users can create quotes and have those quotes voted on whether they are terrible or are inspirational. They also get to view trending quotes of the day.</p>
          <a href="https://dazzling-lichterman-8957b4.netlify.app/">https://dazzling-lichterman-8957b4.netlify.app/</a>   
        </div>
    </div>

    <div class="col-md-5">
      <div class="prof-details">
        <p>AKAN_NAMES</p>
        <p>A web application that takes a user's birthday and calculates the day of the week they were born and then depending on their gender outputs their Akan Name.</p>
        <a href="https://carolinenyamburaw.github.io/AKAN_NAME/">https://carolinenyamburaw.github.io/AKAN_NAME/</a>   
      </div>
    </div>
    <div class="col-md-2">
    </div>

    <div class="col-md-5">
        <div class="prof-details">
          <p>GIT_SCOPE</p>
          <p>A website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories. A person can also look for repositories</p>
          <a href="https://dazzling-lichterman-8957b4.netlify.app/">https://dazzling-lichterman-8957b4.netlify.app/</a>   
        </div>
    </div>

    <div class="col-md-5">
      <div class="prof-details">
        <p>MIMO'S_PIZZA</p>
        <p>This a web application for MIMO'S PIZZA where our customers can view our menu then get to order different sizes of pizzas with one or more toppings and a crust of their preference.</p>
        <a href="https://carolinenyamburaw.github.io/MIMOS_PIZZA/">https://carolinenyamburaw.github.io/MIMOS_PIZZA/</a>   
      </div>
    </div>
    <div class="col-md-2">
    </div>

    <div class="col-md-5" style="margin-bottom: 5vh;">
      <div class="prof-details">
        <p>THE_MIGOS</p>
        <p>A Website about The Migos an American hip hop trio from Lawrenceville, Georgia, founded in 2008. They are composed of three rappers known by their stage names Quavo, Offset, and Takeoff.</p>
        <a href="https://carolinenyamburaw.github.io/My-Favourite-Band/">https://carolinenyamburaw.github.io/My-Favourite-Band/</a>   
      </div>
    </div> 

    <div class="col-md-5" style="margin-bottom: 5vh;">
      <div class="prof-details">
        <p>MY_PORTFOLIO</p>
        <p>My_Portfolio.</p>
        <p>A simple website about me,My Educational Background,Work Experience,Why I Love the Career path I've chosen,a few of my Hobbies and finally a couple of my Projects</p>
        <a href="https://carolinenyamburaw.github.io/My_Portfiolio/">https://carolinenyamburaw.github.io/My_Portfiolio/</a>   
      </div>
  </div>

  </div>
</div>
</div>

